/*Changed the background color of both pages and changed the margin so add 
space on the left of both pages by targeting the body element*/
body {
    background-color: lightsteelblue;
    margin-left:30px;
}
/*Targeted the headers of both pages to change their background color 
and centered the text on the page and added a opacity percentage to improve
text readability*/
header {
    background-color:rgb(96, 128, 209, 0.70);
    text-align: center;
}
/*Targeted h1 tags to set the font size, bold the text, change the font family
and add space beneath*/
h1 {
    font-size: 50px;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 10px;
}
/*Targeted h2 tags to set font size and font family*/
h2 {
    font-size: 30px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
/*Targeted h3 tags to set font size and font family*/
h3 {
    font-size: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/*Targeted p tags to set font size and font family*/
p {
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/*Targeted img elements to set the image size and round the edges*/
img {
    width:60%;
    height: auto;
    border-radius:20px;
    display: block;
}
/*Target ol tags to set font size, font family, and change the font style*/
ol {
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
}
/*Targeted ul tags to set font size, font family, and change font style*/
ul {
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
}
/*Targeted the button class to a button for the navigation link in the footer.
Changed background color, text color, alignment, and border radius*/
.btn-light {
    background-color: darkblue;
    color:aliceblue;
    padding:14px;
    border-radius:10px
}
/*Centered text in the footer*/
footer {
    text-align: center;
    margin-top: 40px;
}
/*Targeted the anchor tag in the footer to remove the underline, change the text
color, increase the font size, and bold the text*/
footer a {
    text-decoration: none;
    color:aliceblue;
    font-size:20px;
    font-weight: bold;
}
/*Targeted the subheader class to give it a different font size, font weight,
italicize it, and make it a dark gray color*/
.subheader {
    font-size: 20px;
    font-weight: 500;
    font-style: italic;
    color:rgb(42, 48, 48);
}
/*Targeted the page1_image ID to only apply changes to the image on index.html.
Included an inset border style, a border color, a space above, and changed the 
size*/
#page1_image {
    border-style: inset;
    border-color: cornflowerblue;
    margin-top:10px;
    width:100%;
}
/*Targeted the overview class to change font size*/
.overview {
    font-size: 20px;
}
/*Targeted page1_header ID to only change index.html by rounding its edges
and adding space within the heading*/
#page1_header {
    border-radius: 20px;
    padding-bottom:4px;
}
/*Targeted training_games_row ID to define how the flex box row acts on page2.html
and added a gap between elements*/
/*
#training_games_row {
    display:flex;
    flex-direction: row;
    gap:80px;
}*/
/*Targeted the column1 and column2 classes to define the layout and spacing
of the flexbox columns on page2.html*/
/*
.column1, .column2 {
    display:flex;
    flex-direction:column;
}/*
/*Targeted image1_wrapper ID to define the flex box row's size, layout and spacing
on index.html */
#image1_wrapper {
    display:flex;
    flex-direction: row;
    justify-content:space-around;
    gap:40px;
    margin:60px 0;
    width:auto;
}
/*Targeted index_column1 and index_column2 to define the spacing of the columns*/
.index_column1, .index_column2 {
    display:flex;
    flex-direction:column;
}
/*Used flex-grow properties to adjust the amount of extra space the 
columns take up in the flexbox*/
.index_column1 {
    flex:1;
}
.index_column2 {
    flex:2;
}
/*Targeted image2_wrapper ID to define how the flex box's size and spacing on page2.html*/
#image2_wrapper {
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    gap:40px;
    margin:60px 0;
    width:auto;
}
/*Used flex grow properties to adjust the amount of extra space page2_column1
takes up in the flexbox*/
.page2_column1 {
    flex:1;
}
/*Targeted page2_column2 class to define the flex direction as a column
adjust spacing the amount of extra space the column takes up in the flexbox*/
.page2_column2 {
    display:flex;
    flex-direction:column;
    flex:2;
}
/*Targeted page2_image ID to adjust size*/
#page2_image {
    width:100%;
    height:auto;
}
/*Added a media query to adjust image1_wrapper and image2_wrapper flexboxes
layouts on screens 600 pixels or smaller. This stacks elements instead of displaying
them side by side and centers them on the page*/
@media (max-width: 600px) {
    #image1_wrapper, #image2_wrapper {
        flex-direction: column;
        align-items: center;
    }
}
/*Added an additional media query to target the training_games_row flexbox
specifically.This stacks the elements and reduces the gap on screens 600 pixels 
or smaller*/
@media (max-width: 600px) {
    #training_games_row {
        flex-direction: column;
    }
}
